Thumbs.db
.DS_Store
*.o
*.obj
*.pdb
*.ilk
*.exp
libbinaryninja*
binaryninjacore.lib
binaryninjacore.dll
binaryninjaapi.lib
python/_binaryninjacore.py
python/enums.py
python/generator
python/generator.exe
.vs
xml
site/*
api-docs/build/*
.env
api-docs/source/binaryninja.*
bin/
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.pyc
api-docs/source/python.rst
api-docs/source/index.rst
.coverage
generator
