[submodule "examples/x86_extension/src/asmx86"]
	path = examples/x86_extension/src/asmx86
	url = git@github.com:Vector35/asmx86.git
[submodule "suite/binaries"]
	path = suite/binaries
	url = git@github.com:Vector35/BinaryTestCases.git
[submodule "sphinx_rtd_theme"]
	path = sphinx_rtd_theme
	url = git@github.com:Vector35/sphinx_rtd_theme.git
