Thumbs.db
.DS_Store
*.o
*.obj
*.pdb
*.ilk
*.exp
libbinaryninja*
binaryninjacore.lib
binaryninjacore.dll
binaryninjaapi.lib
python/_binaryninjacore.py
python/enums.py
python/generator
python/generator.exe
.vs
xml
site/*
api-docs/build/*
.env
api-docs/source/binaryninja.*
bin/
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.pyc
api-docs/source/python.rst
api-docs/source/index.rst
.coverage
# Make
generator
libcrypto.so.1.0.2
libcurl.so.4
libssl.so.1.0.2
plugins/
python/examples/binaryninja/
python/libcrypto.so.1.0.2
python/libcurl.so.4
python/libssl.so.1.0.2
python/plugins/
python/types/
suite/binaryninja/
types/
