[submodule "examples/x86_extension/src/asmx86"]
	path = examples/x86_extension/src/asmx86
	url = https://github.com/Vector35/asmx86.git
[submodule "suite/binaries"]
	path = suite/binaries
	url = https://github.com/Vector35/BinaryTestCases.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "arch/powerpc/capstone"]
	path = arch/powerpc/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "arch/x86/yasm"]
	path = arch/x86/yasm
	url = https://github.com/Vector35/yasm.git
[submodule "arch/x86/xed"]
	path = arch/x86/xed
	url = https://github.com/intelxed/xed.git
[submodule "arch/x86/mbuild"]
	path = arch/x86/mbuild
	url = https://github.com/intelxed/mbuild.git
