site_name: 'Binary Ninja Documentation'
site_url: 'https://docs.binary.ninja/'
repo_url: 'https://binary.ninja/'
repo_name: 'github'
site_description: 'Documentation for the Binary Ninja reverse engineering platform'
site_author: 'Vector 35 LLC'
site_favicon: 'favicon.ico'
google_analytics: ['UA-72420552-3', 'docs.binary.ninja' ]
use_directory_urls: False

theme_dir: 'mkdocs-material/material'
copyright: '(<a href="https://creativecommons.org/licenses/by/3.0/">cc</a>) Vector 35 LLC'

markdown_extensions:
    - codehilite
    - admonition
    - toc:
        permalink: True

pages:
    - Home: 'index.md'
    - Getting Started Guide: 'getting-started.md'
    - User Guide:
        #- Installing: 'guide/installing.md'
        #- Running: 'guide/running.md'
        #- Interface: 'guide/interface.md'
        #- Patching: 'guide/patching.md'
        #- SCC: 'guide/scc.md'
        #- Types Library: 'guide/type.md'
        #- Using Plugins: 'guide/plugins.md'
        - Troubleshooting: 'guide/troubleshooting.md'
    - Developer Guide:
        - Contributing Documentation: 'dev/documentation.md'
        - BNIL Guide&#58; LLIL: 'dev/bnil-llil.md'
        #- Plugin Design: 'dev/plugins.md'
        #- API: 'dev/api.md'
    - About:
        - License: 'about/license.md'
        - Open Source: 'about/open-source.md'

extra:
    disablesearch: True
    logo: 'images/logo.png'
