/*
code {
color: #000;
}

.article pre code {
background: rgba(0, 0, 0, 0);
}
 */

.admonition.warning .admonition-title, .admonition.warning {
background-color: #d73726 !important;
color: #fff !important;
}

.admonition.tip .admonition-title, .admonition.tip {
background: #6e6e6e !important;
color: #fff !important;
}

a {
color: #d73726;
}

a:visited {
color: #990000;
}

a:hover {
color: #ff8080;
}


img[alt$=">"] {
	float:right;
	display: inline-block;
	padding-left: 10px;
}

img[alt$="<"] {
	float:left;
	display: inline-block;
	padding-right: 10px;
}

img[alt$="><"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	float: none!important;
}

@media only screen and (min-width: 76.25em) {
	.md-main__inner {
		max-width: none;
	}
	.md-sidebar--primary {
		left: 0;
	}
	.md-sidebar--secondary {
		right: 0;
		margin-left: 0;
		-webkit-transform: none;
		transform: none;
	}
	.wy-nav-content {
		max-width: 100%;
	}
}

pre {
    overflow-x: auto;
}

.wy-side-nav-search {
	background-color: #d73726;
	color: #fff;
}

.toctree-l1 a:visited, .toctree-l1 a:hover, .toctree-l1 a {
color: #ccc;
}

.wy-nav-top {
	background-color: #d73726 !important;
	color: #fff !important;
}

.wy-nav-top a:visited, .wy-nav-top a:hover, .wy-nav-top a, .wy-side-nav-search a:visited, .wy-side-nav-search a:hover, .wy-side-nav-search a {
color: #fff;
}


#light-slider li, #light-slider img {
	list-style: none;
	margin-left: 0px;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

ol#taped li#currentline {
	background-color: #6e6e6e;
	color: #fff;
	font-weight: bold;
}
ol#taped li {
	list-style-position: inside;
}